/* You can add global styles to this file, and also import other style files */

@import 'Utils/left-panel';
@import 'Utils/common-utils';
@import 'Utils/content';

@import 'Utils/items-css';
@import 'Utils/spacing';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.root{
    height: 100%;
    display: flex;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; transform-origin: top left;}

button{
  cursor: pointer;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none; /* Removes any extra shadows */
}
